<section id="list">
  <div class="filters">
    <filters></filters>
  </div>

  <div class="quotes">
    @if(resortList().length > 0) {
      <div class="stats">
        <span>Showing {{ resortList().length }} quote{{ resortList().length === 1 ? '' : 's' }}</span>

        @if(resortList().length > 1 && !isExplorePage) {
          <button (click)="deleteAllQuotes()" class="btn_error">
            <span class="icon icon-trash"></span>
            <span>Delete All</span>
          </button>
        }
      </div>  
      @for (quote of resortList(); track quote.id) {
        <quote-card [quote]="quote" [type]="isExplorePage ? 'explore_list' : 'user_list'"></quote-card>
      }
    } @else {
      @if(isExplorePage) {
        <div class="no_response">
          <a routerLink="/" class="pill full">
            <span class="icon icon-bookmarkcopy2"></span>
            <span>Go back</span>
          </a>
          <span class="no_quotes">No quotes founded!</span>
        </div>
      }
      <span>No quotes founded!</span>
    }
  </div>
</section>