.quote {
  -webkit-box-shadow: 0px 0px 6px 2px #EBEBEB; 
  box-shadow: 0px 0px 6px 2px #EBEBEB;
  padding: 1rem;
  border-radius: .7rem;
  background-color: white;

  hr {
    margin: 1rem 0;
  }

  .header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    &_left {
      display: inherit;
      gap: .5rem;

      .fav {

        &.is-fav {
          .icon {
            color: red;
          }
        }
      }

      .pin {

        &.is-pin {
          .icon {
            color: green;
          }
        }
      }
    }

    &_right {
      display: inherit;
      gap: 1.4rem;

      .share {
        &.open {
          .icon {
            color: blue;
          }
        }
  
      }
      .socials {
        display: none;
        &.show {
          display: inherit;
          gap: .9rem;
          
          .icon {
            font-size: .9rem;
          }
        }
      }
    }
  }

  .descr {
    text-align: center;
    font-size: 1.2rem;
    color: 	#1A1A1A;
  }

  .footer {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: 	#666666;

    .feat {
      display: inherit;
      gap: .7rem;
      font-size: .8rem;

      &__time {
        display: inherit;
        align-items: center;
        font-weight: 300;
        gap: .4rem;
      }
    }
  }
}