<article [id]="quote.id" class="quote">
  <div class="header">
    <div class="header_left">
      <button (click)="changeFavorites()" class="ctas fav" [class.is-fav]="quote.isFavorite">
        <span class="icon icon-heart"></span>
      </button>
      <button (click)="changePinned()" class="ctas pin" [class.is-pin]="quote.isPinned">
        <span class="icon icon-pin"></span>
      </button>
    </div>
    <div class="header_right">
      <div class="socials" [class.show]="quote.areSocialShown">
        @for (share of shareItems; track $index) {
          <button (click)="share.fn(quote)">
            <span class="icon {{share.icon}}"></span>
          </button>
        }
      </div>
      <button (click)="showSocials()" class="share" [class.open]="quote.areSocialShown">
        <span class="icon icon-share-alt"></span>
      </button>
    </div>
  </div>
  <hr>
  <div class="descr">
    <p class="italic">
      {{ quote.description }}
    </p>
  </div>
  <hr>
  <div class="footer">
    <span>{{ quote.author }}</span>
    <div class="feat">
      <p class="feat__time">
        <span class="icon icon-time"></span>
        {{ quote.addedDate }}
      </p>
      <button class="btn_error">
        <span class="icon icon-trash"></span>
      </button>
      <button class="btn_warning">
        <span class="icon icon-edit-pencil"></span>
      </button>
    </div>
  </div>
</article>