<section id="pagination">
  <button [disabled]="dataPage().page === 1" type="button"
    (click)="prev()" class="change_pages" [class.disable]="dataPage().page === 1">
    <span class="icon icon-cheveron-outline-left"></span>
  </button>

  <div class="pages">
    @if(!pageSections.includes(1)) {
      <button type="button" (click)="changePage(1)" class="single_page">
        <span>1</span>
      </button>
      <small>...</small>
    }

    @for (pg of pageSections; track $index) {
      <button type="button" (click)="changePage(pg)" class="single_page" [class.current]="pg === dataPage().page">
        <span>{{pg}}</span>
      </button>
    }

    @if(!pageSections.includes(dataPage().totalPages)) {
      <small>...</small>
      <button type="button" (click)="changePage(dataPage().totalPages)" class="single_page">
        <span>{{ dataPage().totalPages }}</span>
      </button>
    }
  </div>

  <button [disabled]="dataPage().page === dataPage().totalPages" type="button"
    (click)="next()" class="change_pages" [class.disable]="dataPage().page === dataPage().totalPages">
    <span class="icon icon-cheveron-outline-right"></span>
  </button>
</section>