#pagination {
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: .8rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: .7rem;
  margin-top: 2rem;

  .change_pages {
    padding: .2rem;
    display: inherit;
    align-items: center;
    font-size: 1.5rem;
    color: var(--gold);  
  }

  .pages {
    display: inherit;
    align-items: center;
    gap: 1.2rem;
    user-select: none;
    color: var(--gold);
    
    .single_page {
      color: var(--gold);
      
      &.current {
        background-color: var(--gold);
        color: var(--primary-color);
        padding: .2rem .4rem;
      }
    }
  }
}