.filters {
  &_wrap {
    border-radius: .5rem;
    padding: .6rem 1.1rem;

    &.open {
      .filters_actual {
        margin-top: .5rem;
        display: flex;
        flex-direction: column;

        .items {
          cursor: pointer;
          font-size: .9rem;
          border-bottom: var(--gold) 1px solid;
          padding: .8rem;
          
          input[type="checkbox"] { display: none; }

          &.active {
            background-color: var(--gold);
            color: var(--primary-color);
            border-bottom-left-radius: .3rem;
            border-bottom-right-radius: .3rem;
          }

          &:last-child {
            margin-bottom: .8rem;
          }

          .accordion {
            &_content {
              display: none;
            }
            &_title {
              display: inline-flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
            }
          }

          &.show {

            .accordion_content {
              &.show_content {
                margin-top: .8rem;
                display: flex;
                flex-flow: row wrap;
                column-gap: .8rem;
                row-gap: .3rem;
              }
            }
          }

        }

        input {
          background-color: unset;
          color: var(--gold);
          &::placeholder {
            color: var(--gold);
            opacity: .7;
            font-size: .9rem;
          }
        }
      }
    }
  }
  
  &_head {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    .text {
      padding: .2rem 0;
      display: inherit;
      gap: .4rem;
    }

    .pill {
      cursor: pointer;
      position: relative;
      color: var(--gold);
      z-index: 2;

      &:hover {
        background-color: var(--gold);
        color: var(--primary-color);
      }
    }
  }
  
  &_actual { display: none; }
}

@media(min-width: 1100px) {
  .filters {
    &_wrap {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      &.open {
        .filters_actual {
          margin-top: 1rem;
          
          .items {
            padding: 1.1rem;
            font-size: 1rem;

            &::placeholder { font-size: 1rem; }

            .accordion_content {
              font-size: .8rem;
            }
          }
        }
      }
    }

    &_head {
      .text { pointer-events: none; }
    }
  }
}