.filters {
  &_wrap {
    border-radius: .5rem;
    padding: .6rem 1.1rem;

    &.open {
      .filters_actual {
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .items {
          font-size: .9rem;
          border-bottom: var(--gold) 1px solid;
          padding: .4rem;

          &:last-child {
            margin-bottom: .5rem;
          }

          .accordion {
            &_content {
              display: none;
            }
            &_title {
              display: inline-flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
            }
          }

          &.show {

            .accordion_content {
              &.show_content {
                margin-top: .4rem;
                display: flex;
                flex-flow: row wrap;
                column-gap: .8rem;
                row-gap: .3rem;
              }
            }
          }

        }

        input {
          background-color: unset;
          color: var(--gold);
          &::placeholder {
            color: var(--gold);
            opacity: .7;
            font-size: .9rem;
          }
        }
      }
    }
  }
  
  &_head {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: .4rem;
  }
  
  &_actual {
    display: none;
  }
}

@media(min-width: 1100px) {
  .filters {
    &_wrap {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      &.open {
        .filters_actual {
          margin-top: 1rem;
          gap: 1rem;
          
          .items {
            font-size: 1rem;

            .accordion_content {
              font-size: .8rem;
            }
          }
        }
      }
    }

    &_head {
      pointer-events: none;
    }
  }
}