<div class="filters_wrap bg_primary color_gold" [class.open]="showFilters">
  <div class="filters_head color_gold">
    <div (click)="openFilters()" class="text">
      <span class="icon icon-filter"></span>
      <span>Filter by ...</span>
    </div>
    @if(isSomeFilterApplied) {
      <button (click)="resetFilters()" class="pill">
        <span>Reset</span>
      </button>
    }
  </div>
  <div class="filters_actual">
    <input (input)="filterBy('typed')" [(ngModel)]="filters.typed" type="text" class="items" placeholder="Type quote or author ...">
    <span (click)="filters.favorites = !filters.favorites; filterBy('fav')" class="items" [class.active]="appliedFilters.favorites">Show favorites only</span>
    
    @if(filters.authors.length > 0) {
      <div class="items" [class.show]="openedAccordion.includes('author')">
        <span class="accordion_title" (click)="manageAccordion('author')">
          Authors
          <span class="icon icon-cheveron-outline-{{openedAccordion.includes('author') ? 'up' : 'down'}}"></span>
        </span>
        <div class="accordion_content" [class.show_content]="openedAccordion.includes('author')">
          @for (author of filters.authors; track $index) {
            <span class="pill" [class.full]="appliedFilters.authors.includes(author)" (click)="manageSelection(author,'author')">{{author}}</span>
          }
        </div>
      </div>
    }

    @if(filters.categories.length > 0) {
      <div class="items" [class.show]="openedAccordion.includes('category')">
        <span class="accordion_title" (click)="manageAccordion('category')">
          Categories
          <span class="icon icon-cheveron-outline-{{openedAccordion.includes('category') ? 'up' : 'down'}}"></span>
        </span>
        <div class="accordion_content" [class.show_content]="openedAccordion.includes('category')">
          @for (category of filters.categories; track $index) {
            <span class="pill" [class.full]="appliedFilters.categories.includes(category)" (click)="manageSelection(category,'category')">{{category}}</span>
          }
        </div>
      </div>
    }
  </div>
</div>